body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background: "linear-gradient(to bottom right, #FFFFFF, #ff4c4c)",
}

.welcome-screen {
    text-align: center;
    padding: 50px
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px
}

p {
    margin-bottom: 20px
}

a {
    text-decoration: none;
    color: #007bff;
    margin: 10px
}

a:hover {
    text-decoration: underline
}

@media (min-width: 768px) {
    .welcome-screen {
        padding:80px
    }

    h1 {
        font-size: 3rem
    }
}
